// Section Elements
.container {
    max-width: 80rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;

    @media only screen and (min-width: 768px) {
        margin: 0 auto;
        padding: 0 2rem;
    }
}

.brand {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-pink-600);
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

// Section: Header
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    margin: 0 auto;
    background: var(--color-white);
    box-shadow: var(--shadow-medium);

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        max-width: 100%;
        height: auto;
        padding: 0.75rem 0;
    }

    .burger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 2rem;
        height: auto;
        border: none;
        opacity: 1;
        visibility: visible;

        @media only screen and (min-width: 768px) {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        &-line {
            display: block;
            cursor: pointer;
            width: 100%;
            height: 2px;
            margin: 6px auto;
            background: var(--color-black);
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -19rem;
        width: 19rem;
        height: 100%;
        z-index: 999;
        opacity: 0;
        overflow-y: auto;
        visibility: hidden;
        background: var(--color-white);
        box-shadow: var(--shadow-medium);
        transition: all 0.5s ease;

        @media only screen and (min-width: 768px) {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            opacity: 1;
            visibility: visible;
            background: none;
            box-shadow: none;
        }

        &.is-active {
            left: 0rem;
            opacity: 1;
            visibility: visible;
        }

        &-block {
            width: 100%;
            height: auto;
            margin: 2rem 0;

            @media only screen and (min-width: 768px) {
                margin: 0 auto;
            }
        }

        &-item {
            display: block;
            margin: 0;

            @media only screen and (min-width: 768px) {
                position: relative;
                display: inline-block;
                margin: 0 0.625rem;
            }
        }

        &-link {
            display: block;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            line-height: inherit;
            padding: 0.625rem 1.5rem;
            border: none;
            color: var(--color-black);
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            transition: all 0.35s ease;

            &:hover {
                color: var(--color-pink-600);
            }

            @media only screen and (min-width: 768px) {
                padding: 0.5rem 0;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.7);
        transition: all 0.35s ease-in-out;

        &.is-active {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}